/dts-v1/;
#include <nordic/nrf52833_qdaa.dtsi>

/ {
	model = "o-invader";
	compatible = "matejneumann,o-invader";

    zephyr,user {
        io-channels = <&adc 1>;
    };

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
        zephyr,storage-partition = &storage_partition;
    };

    leds {
        compatible = "gpio-leds";
        led0: led_0 {
            gpios = <&gpio0 10 GPIO_ACTIVE_HIGH>;
            label = "LED 0";
        };
        led1: led_1 {
            gpios = <&gpio0 9 GPIO_ACTIVE_HIGH>;
            label = "LED 1";
        };
    };

    sniffer {
        compatible = "gpio-keys";
        clck0: clck_0 {
            gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
            label = "sniffer_clk";
        };

        reset0: reset_0 {
            gpios = <&gpio0 30 GPIO_ACTIVE_HIGH>;
            label = "sniffer_reset";
        };

        cs0: cs_0 {
            gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
            label = "sniffer_cs";
        };

        debug0: debug_0 {
            gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>;
            label = "debug";
        };

        mosi0: mosi_0 {
            gpios = <&gpio1 9 GPIO_ACTIVE_HIGH>;
            label = "sniffer_mosi";
        };
    };

    aliases {
        led0 = &led0;
        led1 = &led1;
    };
};

&gpiote {
    status = "okay";
};

&gpio0 {
    status = "okay";
};

&gpio1 {
    status = "okay";
};

&uicr {
    gpio-as-nreset;
};

&ieee802154 {
    status = "okay";
};

&adc {
    status = "okay";
};

&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        boot_partition: partition@0 {
            label = "mcuboot";
            reg = <0x00000000 0xC000>;
        };
        slot0_partition: partition@c000 {
            label = "image-0";
            reg = <0x0000C000 0x37000>;
        };
        slot1_partition: partition@43000 {
            label = "image-1";
            reg = <0x00043000 0x37000>;
        };
        storage_partition: partition@7a000 {
            label = "storage";
            reg = <0x0007A000 0x00006000>;
        };
    };
};


