/dts-v1/;
#include <nordic/nrf52833_qdaa.dtsi>

/ {
	model = "o-invader";
	compatible = "matejneumann,o-invader";

    zephyr,user {
        io-channels = <&adc 1>;
    };

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
        zephyr,storage-partition = &storage_partition;
    };

    leds {
        compatible = "gpio-leds";
        status = "okay";
        led1: led_1 {
            gpios = <&gpio0 9 GPIO_ACTIVE_LOW>;
            label = "LED 1";
        };
    };
};

&gpio0 {
    status = "okay";
};

&gpio1 {
    status = "okay";
};

&ieee802154 {
    status = "okay";
};

&adc {
    status = "okay";
};

&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        boot_partition: partition@0 {
            label = "mcuboot";
            reg = <0x00000000 0xC000>;
        };
        slot0_partition: partition@c000 {
            label = "image-0";
            reg = <0x0000C000 0x37000>;
        };
        slot1_partition: partition@43000 {
            label = "image-1";
            reg = <0x00043000 0x37000>;
        };
        storage_partition: partition@7a000 {
            label = "storage";
            reg = <0x0007A000 0x00006000>;
        };
    };
};


